{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

<section class="login-section">

<div class="container">

<div class="row justify-content-center align-items-center">

<div class="col-lg-10">

<div class="login-card">

<div class="row g-0">

<!-- LEFT -->

<div class="col-lg-6">

<div class="login-left">

<h2>

Welcome Back

</h2>

<p>

Login to access your conference dashboard, paper submissions and registration details.

</p>

<img src="{% static 'images/login/login.svg' %}" class="img-fluid">

</div>

</div>

<!-- RIGHT -->

<div class="col-lg-6">

<div class="login-right">

<h3>

Participant Login

</h3>

<form method="POST">

{% csrf_token %}

<div class="mb-3">

<label>Email</label>

<input type="email"
class="form-control"
name="email"
required>

</div>

<div class="mb-4">

<label>Password</label>

<input type="password"
class="form-control"
name="password"
required>

</div>

<div class="d-flex justify-content-between mb-4">

<div>

<input type="checkbox">

Remember Me

</div>

<a href="#">

Forgot Password?

</a>

</div>

<button class="btn btn-primary w-100">

Login

</button>

</form>

<hr>

<p class="text-center mt-4">

Don't have an account?

<a href="{% url 'register' %}">

Register

</a>

</p>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</section>

{% endblock %}