.dates-section{

padding:100px 0;

background:#f8f9fc;

}

.timeline{

position:relative;

max-width:900px;

margin:auto;

}

.timeline::before{

content:"";

position:absolute;

left:50%;

top:0;

width:4px;

height:100%;

background:#0d6efd;

transform:translateX(-50%);

}

.timeline-item{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:50px;

position:relative;

}

.timeline-item:nth-child(even){

flex-direction:row-reverse;

}

.timeline-date{

width:180px;

background:#0d6efd;

color:#fff;

padding:15px;

border-radius:10px;

font-weight:600;

text-align:center;

}

.timeline-content{

width:42%;

background:#fff;

padding:30px;

border-radius:18px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.timeline-content h4{

color:#0d3f88;

margin-bottom:10px;

}

@media(max-width:768px){

.timeline::before{

left:20px;

}

.timeline-item,

.timeline-item:nth-child(even){

flex-direction:column;

align-items:flex-start;

padding-left:50px;

}

.timeline-date{

margin-bottom:20px;

width:100%;

}

.timeline-content{

width:100%;

}

}